<div class="container">
  <ngb-carousel *ngIf="heroes">
    <ng-template *ngFor="let hero of heroes" ngbSlide>
      <img [src]="hero.file" alt="{{hero.alt}}">
      <div class="carousel-caption">
        <h3>{{hero.name}}</h3>
        <p>{{hero.alt}}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>


