<header></header>
<h1>{{title}}</h1>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/login">Login</a>
    <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
    <a class="nav-item nav-link" routerLink="/heroes">Heroes</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
  <!-- main app container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <app-alert></app-alert>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <app-messages></app-messages>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="!currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/login">Login</a>
    <a class="nav-item nav-link" routerLink="/register">Register</a>
  </div>
  <!-- main app container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <app-alert></app-alert>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</nav>

