  <h2>Messages</h2>
  <button class="clear"
          (click)="messageService.clear()">clear</button>
  <button class="fetch"
          (click)="heroService.getHeroes()">fetch</button>
  <div *ngIf="messageService.messages.length">
    <div *ngFor='let message of messageService.messages'> {{message}} </div>
  </div>
